<?xml version="1.0" encoding="UTF-8" ?>
<phpunit colors="true" bootstrap="./vendor/autoload.php" testdox="true" stopOnFailure="false">
    <testsuites>
        <testsuite name="Help Granny">
            <directory>./help-your-granny</directory>
            <directory>./find-the-smallest</directory>
            <directory>./write-out-numbers</directory>
            <!--            <directory>./Getting-along-with-Integer-Partitions</directory>-->
            <directory>./nesting-structure-comparison</directory>
            <directory>./reverse-or-rotate</directory>
            <directory>./rgb-to-hex-conversion</directory>
            <directory>./factorial-decomposition</directory>
        </testsuite>
    </testsuites>
</phpunit>